body {
  background: #debaff;
}

.App {
  text-align: center;
}

* {
  font-style: italic;
}

h1 {
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

p {
  color: rgb(15, 11, 122);
}

.wynik {
  display: flex;
  justify-content: center;
  padding: 5%;
}

table {
  background: #e84af4;
  font-family: Arial, Helvetica, sans-serif;
  width: 100%;
  border-collapse: collapse;
}

td, th {
  border: 1px solid;
  text-align: left;
  padding: 10px;
  border: #5a1c5f 2px solid;
}

tr:nth-child(even){
  background-color: #f706a24a;
}

td:nth-child(1){
  background-color: #524fff5b;
}